# Little Linux Helper - Backup Konfiguration

# CFG_LH_BACKUP_ROOT:
# Der absolute Pfad zum Wurzelverzeichnis, in dem die Backups gespeichert werden sollen.
# Beispiel: "/mnt/externe_festplatte" oder "/srv/backups"
CFG_LH_BACKUP_ROOT="/run/media/tux/hdd_3tb/"

# kannCFG_LH_BACKUP_DIR:
# Der Name des Unterverzeichnisses innerhalb von CFG_LH_BACKUP_ROOT, in dem die eigentlichen Backup-Daten landen.
# Muss mit einem "/" beginnen. Beispiel: "/mein_system_backup"
CFG_LH_BACKUP_DIR="/backups"

# CFG_LH_TEMP_SNAPSHOT_DIR:
# Ein absoluter Pfad zu einem temporären Verzeichnis, das für BTRFS-Snapshots während des Backup-Prozesses verwendet wird.
# Dieses Verzeichnis sollte auf einem BTRFS-Volume liegen, idealerweise auf dem System selbst, wenn möglich.
CFG_LH_TEMP_SNAPSHOT_DIR="/.snapshots_backup"

# CFG_LH_RETENTION_BACKUP:
# Die Anzahl der aufzubewahrenden Backup-Versionen (z.B. 10 bedeutet, dass die 10 neuesten Backups behalten werden).
CFG_LH_RETENTION_BACKUP="10"

# CFG_LH_BACKUP_LOG_BASENAME:
# Der Basisname für die Backup-Logdateien. An diesen Namen wird ein Zeitstempel (JJMMTT-HHMM_) vorangestellt.
# Beispiel: "backup.log" wird zu "240730-1015_backup.log".
CFG_LH_BACKUP_LOG_BASENAME="backup.log"